!!!
%html
  %head
    %title Mixergy Flow - Admin
    %link{:rel=>'stylesheet', :href=>'/stylesheets/mixergy_flow_admin.css', :type => "text/css"}
  %body
    %header
      %h1 Mixergy Flow - Admin
    - if flash[:error]
      %section{ :id => 'error' }
        = flash[:error]
    - if flash[:notice]
      %section{ :id => 'notice' }
        = flash[:notice]
    %section{ :id => 'content' }
      = yield
