!!!
%html
  %head
    %title Mixergy Flow - Admin
    %link{:rel=>'stylesheet', :href=>'/stylesheets/mixergy_flow_admin.css', :type => "text/css"}
  %body
    %header
      %h1 Mixergy Flow - Admin
    %section{ :id => 'content' }
      = yield
